@import "~bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.image-container {
    position: relative;
}

.normal-image {
    display: block;

}

.hover-image {
    display: none;
}

.image-container:hover .normal-image {
    display: none;

}

.image-container:hover .hover-image {
    display: block;

}

.header {
    background-color: #F96900;
    height: 55px;

}

img {
    max-width: 100%;
}

.header img {
    height: 35px;
}

* {

    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(102, 0, 0);
}

footer {
    background-color: #1A1A1A;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: none;
        color: #1D8000;
    }
}

.badge {
    position: absolute;
    bottom: 100px;
}

.tag {
    background-color: #1D8000;
    color: white;
    height: 22px;
    width: 100px;
    text-align: center;

}

.discount {
    background-color: #F80102;
    color: white;
    height: 22px;
    width: 45px;
    text-align: center;

}

.heart {
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 6px;
}

.hred {
    color: #F80102;
}

.hblack {
    color: #000000;
}